In [6]:
import pandas as pd

In [7]:
real_data = pd.read_csv('real_bs.csv', sep=';')

In [8]:
real_data.head()

      год  неделя        Расход  МРМосква  МРСеверозапад  МРУрал  Месяц
0  2017.0      40            БС      37.0           22.0     1.0   10.0
1  2017.0      40  модули/блоки     120.0           44.0     0.0   10.0
2  2017.0      41            БС      11.0            0.0    13.0   10.0
3  2017.0      41  модули/блоки      40.0            0.0     1.0   10.0
4  2017.0      42            БС       0.0           21.0    25.0   10.0

In [11]:
plan_data = pd.read_csv('plan_bs.csv', sep=',')

In [12]:
plan_data.head()

  Тип БС             exМР  year  month  day
0     БС  МР Северо-Запад  2021      3   30
1     БС  МР Северо-Запад  2021      3   30
2     БС  МР Северо-Запад  2021      3   30
3     БС  МР Северо-Запад  2021      5   21
4     БС  МР Северо-Запад  2021      5   21

In [ ]:
#