In [1]:
import pandas as pd

In [9]:
pd.read_excel('../../data/1.ОСНОВНОЙ Факт объемы_м3_2017_2022_по дням1.xlsx', skiprows=1, sheet_name=4)

,неделя,дата,МСК 101,МСК 107,СЗ,МСК Демонтаж,Урал,Всего Хранение,Unnamed: 8,МСК 101.1,...,МСК,СЗ.4,Урал.4,всего Хранение,Unnamed: 32,Unnamed: 33,МСК.1,СЗ.5,Урал.5,всего Обработка
0,1.0,2021-01-01 00:00:00,10118.75,0.0,7110.04116,0.0,2869.1,20097.89116,NaN,0.18,...,10800.0,8000.0,3000.0,21800.0,NaN,январь,5000.0,2700.0,900.0,8600.0
1,1.0,2021-01-02 00:00:00,10118.75,0.0,7110.04116,0.0,2869.1,20097.89116,NaN,0.00,...,10800.0,8000.0,3000.0,21800.0,NaN,февраль,5000.0,2700.0,900.0,8600.0
2,2.0,2021-01-03 00:00:00,10118.75,0.0,7110.04116,0.0,2869.1,20097.89116,NaN,0.00,...,10800.0,8000.0,3000.0,21800.0,NaN,март,6250.0,2500.0,900.0,9650.0
3,2.0,2021-01-04 00:00:00,10118.75,0.0,7110.04116,0.0,2869.1,20097.89116,NaN,0.00,...,10800.0,8000.0,3000.0,21800.0,NaN,апрель,7500.0,3000.0,900.0,11400.0
4,2.0,2021-01-05 00:00:00,10118.75,0.0,7110.04116,0.0,2869.1,20097.89116,NaN,0.00,...,10800.0,8000.0,3000.0,21800.0,NaN,май,7500.0,3000.0,900.0,11400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3892,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3893,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3894,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3895,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3896,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN